.playerDisplay {
  box-sizing:border-box;
}

.playerDisplay .player {
  width:500px;
  line-height:0;
}

.playerDisplay .message {
  height:20px;
  text-align:center;
  font-family:Helvetica, Arial, sans-serif;
}

.playerDisplay .controls {
  background:#333;
  display:flex;
  border-radius:10px;
  flex-direction:row;
  justify-content:space-between;
  align-items:center;
  box-shadow:5px 5px 10px 0px #777;
  padding:10px;
}

.playerDisplay .button {
  color:white;
  text-align:center;
  cursor:pointer;
  background:transparent;  
  border:none;
  outline:none;
  width:5%;
}

.playerDisplay .play {
  background:url('chrome-extension://__MSG_@@extension_id__/play.png') no-repeat scroll 0 0 transparent;
  height:16px;
  width:16px;
}

.playerDisplay .pause {
  background:url('chrome-extension://__MSG_@@extension_id__/pause.png') no-repeat scroll 0 0 transparent;
  height:16px;
  width:16px;
}

.playerDisplay .volume-up {
  background:url('chrome-extension://__MSG_@@extension_id__/volume-up.png') no-repeat scroll 0 0 transparent;
  height:16px;
  width:16px;
  cursor:context-menu;
}

.playerDisplay .track {
  position:relative;
  height:10px;
  vertical-align:top;
  background:#fff;
  width:51%;
  cursor:pointer;
}

.playerDisplay .progress {
  position:absolute;
  width:0%;
  height:100%;
  background:#5CF;
  border-radius:0px;
}

.playerDisplay .scrubber {
  position:absolute;
  width:18px;
  height:18px;
  margin:-4px 0 0 -9px;
  background:#5CF;
  border:solid 3px #ddd;
  cursor:pointer;
  box-shadow:0 0 5px #000, inset 0 0 4px #400;
}

.playerDisplay .count {
  width:15%;
  color:#FFF;
}

.playerDisplay .divider {
	margin:0 5px;
}

.playerDisplay .volume {
  width:15%;
  cursor:pointer;
}

.playerDisplay .overlay {
	background-color:rgb(0, 0, 0);
	opacity:0.7; /* Safari, Opera */
	-moz-opacity:0.70; /* FireFox */
	filter:alpha(opacity=70); /* IE */
	z-index:20;
	height:100%;
	width:100%;
	background-repeat:repeat;
	position:fixed;
	top:0px;
	left:0px;
}

.playerDisplay .overlayPlayer{
  position:fixed;
	top:50%;
	left:50%;
	margin-top:-100px;
	margin-left:-200px;
  opacity:1;
  z-index:1002;
}

.playerDisplay p {
	color:#FFF;
	font-size:30px;
}

.playerDisplay .initLoader {
	position:absolute;
	top:90%;
	left:35%;
	width:100px;
}
